<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/general.html::headerfiles('Employees Page')"></th:block>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Employees</title>
</head>
<body>
<main>
    <div class="container mb-5">
        <h1 class="mt-5">Employees List</h1>
        <div class="box mt-5">
            <div class="row">
                <div class="col">
                    <h4 class="mt-3 font-weight-bold">ID</h4>
                </div>
                <div class="col">
                    <h4 class="mt-3 font-weight-bold">First Name</h4>
                </div>
                <div class="col">
                    <h4 class="mt-3 font-weight-bold">Last Name</h4>
                </div>
                <div class="col">
                    <h4 class="mt-3 font-weight-bold">Role</h4>
                </div>
                <div class="col">
                    <h4 class="mt-3 font-weight-bold">Salary</h4>
                </div>
                <div class="col">
                    <h4 class="mt-3 font-weight-bold">Update</h4>
                </div>
                <div class="col">
                    <h4 class="mt-3 font-weight-bold">Delete</h4>
                </div>
            </div>

                <tr th:each="empleado : ${empleados}" data-id="${empleado.employeeId}">
                    <div class="row">
                    <td><div class="col"><p class="mt-3 " th:text="${empleado.employeeId}"><p/></div></td>
                    <td><div class="col"><p class="mt-3 " th:text="${empleado.firstName}"><p/></div></td>
                    <td><div class="col"><p class="mt-3 " th:text="${empleado.lastName}"><p/></div></td>
                    <td><div class="col"><p class="mt-3 " th:text="${empleado.role}"><p/></div></td>
                    <td><div class="col"><p class="mt-3 " th:text="${empleado.salary}"><p/></div></td>
                    <td><div class="col"><a th:href="@{/employees/modificar/{id}(id=${empleado.employeeId})}" class="btn btn-light">Actualizar</a></div></td>
                    <td><div class="col">

                        <form th:action="@{'/employees/eliminar/' + ${empleado.employeeId}}" method="post">

                            <button type="submit" class="btn btn-danger" th:attr="onclick='return confirm(\'¿Estás seguro de que deseas eliminar a ' + ${empleado.firstName} + ' ' + ${empleado.lastName} + '?\')'">Eliminar</button>

                        </form></div>
                    </td>
                    </div>
                </tr>
            <button type="button" class="btn btn-light mt-5"><a href="/employees/agregar">New</a></button>
            <button type="button" class="btn btn-light mt-5"><a href="/employees/analitica">Analítica</a></button>
        </div>
    </div>

</main>
<footer th:replace="fragments/general::empty-footer"></footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>